html,body {
	height     : 100vh;
	width      : 100vw;
	background : #fff0ad;
}

#app {
	position : relative;
	height   : 100%;
	width    : 100%;
	overflow : hidden;
}

.doge-block {
	display                   : flex;
	flex-direction            : column;
	align-items               : center;
	justify-content           : center;
	text-align                : center;
	background                : url("../img/doge.png");
	background-size           : cover;
	background-color          : #ba9f33;
	border                    : 2px white solid;
	box-shadow                : 10px 10px 30px rgb(121, 121, 121);
	animation                 : doge-slide linear;
	animation-iteration-count : 1;
}

.doge-block div {
	font-family : cursive;
	font-size   : 1rem;
	color       : white;
}

@keyframes doge-slide {
	from {
		transform:translateX(0);
	}

	to {
		transform:translateX(-105vw);
	}
}