html,body {
	height     : 100vh;
	width      : 100vw;
	background : #fff0ad;
}

.background {
	position        : absolute;
	display         : flex;
	justify-content : center;
	height          : 100%;
	width           : 100%;
	font-family     : "Comic Sans MS", "Comic Sans", "Comic Neue", cursive;
	text-align      : center;
	color           : white;
	text-shadow: -1px 1px 0 rgb(100, 100, 100),
				1px 1px 0 rgb(100, 100, 100),
				1px -1px 0 rgb(100, 100, 100),
				-1px -1px 0 rgb(100, 100, 100);
}

.audio-controls {
	position : absolute;
	bottom   : 0;
	right    : 0;
}

.audio-controls .fas {
	position  : absolute;
	bottom    : 20px;
	right     : 30px;
	transform : scale(3,3);
	color     : rgb(0, 0, 0);
	z-index   : 1;
	cursor    : pointer;
}

.hidden {
	display : none;
}

.title {
	position    : absolute;
	align-self  : center;
	font-size   : 5rem;
	user-select : none;
}

.donate {
	position    : absolute;
	bottom      : 10px;
	font-size   : 2rem;
	user-select : text;
	z-index     : 1;
}

#app {
	position : relative;
	height   : 100%;
	width    : 100%;
	overflow : hidden;
}

.doge-block {
	display                   : flex;
	flex-direction            : column;
	align-items               : center;
	justify-content           : center;
	text-align                : center;
	text-shadow: -1px 1px 0 #fff,
				  1px 1px 0 #fff,
				 1px -1px 0 #fff,
				-1px -1px 0 #fff;
	background                : url("../img/doge.png");
	background-size           : cover;
	background-color          : #ba9f33;
	border                    : 2px white solid;
	box-shadow                : 10px 10px 30px rgb(121, 121, 121);
	animation                 : doge-slide linear;
	animation-iteration-count : 1;
}

.doge-block div {
	font-family : "Comic Sans MS", "Comic Sans", "Comic Neue", cursive;
	font-size   : 1rem;
	color       : white;
}

@keyframes doge-slide {
	from {
		transform:translateX(0);
	}

	to {
		transform:translateX(-105vw);
	}
}